* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  input{
      color:white;
  }

  img{
      max-height: 250px;
      margin: 20px;
  }

  body{
    font-family: 'montserrat', sans-serif;
    color: white;
  }
  
  main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  header{
  padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .date{
      padding: 10px;
  }


  .clear{
    background-color:rgb(254,220,73)
  }
  .rain{
      background-color: rgb(24,159,253);
  }
  .clounds{
      background-color: rgb(101,123,207);
  }
  .mist{
    background: rgb(189,197,247);
    background: linear-gradient(0deg, rgba(189,197,247,1) 0%, rgba(218,229,241,1) 100%);
  }
  .haze{
    background: rgb(255,185,101);
    background: linear-gradient(0deg, rgba(255,185,101,1) 0%, rgba(218,229,241,1) 100%);
  }

  .defalut-color{
      background-color: rgb(40, 165, 56);
  }


  .search-box{
      width: 200px;
      height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255,255,255,0.5);
    transition: 0.4s;
    border-radius: 5px;

  }

  .search-bar{
    border: none;
    outline: none;
    background: none;  
    }

    .fa-search{
        color: rgb(255,255,255,0.75);
        padding: 6px;
    }
  
.weather-wrap{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
}

.weather-wrap > * {
    padding-bottom: 5px;
}

.temp{
    font-size: 30px;
}
  .temp-box{
      width: 200px;
      display: flex;
      justify-content: space-between;
  }

  .row-box{
    width: 200px;
    margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
.feel-like-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (min-width: 599px) {
 .weather-wrap{
   padding-top: 0px;
 }
}